.typing{
    overflow:hidden;
    animation:
        typing 3.5s steps(30, end)
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.center{
    text-align:center;
}

.hidden{
    display:none;
}
.listedButtons{
    margin-bottom:5px;
}

.dropdown{
    display:inline-block;
}
.dropdownList{
    display:none;
}
.dropdownItems{
    display:block;
}
.show{
    display:block
}
