{% extends "default_page.html" %}
{% block body %}
    <h1>Pizzaroni Toni’s Cheesy Crypt</h1>
    <p><a href = '/inventory/?equip='>Inventory</a></p>


    <h3>Skeleton Room (Checkpoint)</h3>
    {{checkpoint}}
    <br>
    You have beaten the skeletons.  Now, do you walk through the iron door the skeletons were guarding, or back through the
    wooden door?
    <br>
    <button onclick="window.location.href = '/battle/skeleton/';">Iron Door</button>
    <br>
    <button onclick="window.location.href = '/game/pizza_throne/';">Wooden Door</button>

{% endblock %}