{% extends "default_page.html" %}
{% block body %}
    <h1>Pizzaroni Toni’s Cheesy Crypt</h1>
    <p><a href = '/inventory/?equip='>Inventory</a></p>


    <h5>{{where}}</h5>
    {{checkpoint}}
    <div class="hidden" id="itemList">{{items}}</div>
    <br>
    You find yourself facing two more doors, each with signs on them.  The sign on the left door reads "PICTURE ROOM" and
    the sign on the right door reads "FROG AND RAT ROOM: DO NOT ENTER".
    <br>
    Which room do you enter?
    <div>
        <button id="pictureRoomButton">Picture Room</button>
        <br>
        <button id="fAndRButton">Frog and Rat Room</button>
    </div>
    <br>
    <div class="hidden" id="pictureRoomDiv">
        You enter the Picture Room and the door shuts and locks behind you.
        <br>
        <a href="/pictureRoom/"><button id="proceed">Proceed</button></a>
    </div>

    <div class='hidden' id="fAndRDiv">
        You enter the Frog and Rat Room.  Sure enough, there are a frog and rat there, sitting on a button.
        <br>
        <button id="takeFAndR">Take the Frog and Rat</button>
        <br>
        <button id="leaveFAndR">Leave</button>
        <br>
        <div class="hidden" id="takeFAndRDiv">
            You pick up the Frog and Rat, but as the button is released the door back closes.  You must leave an item here
            to continue your quest.
            <br>
            <form action="/game/picture_room/">
                <select id="dropdown" name="lost">
                    <option value="frogAndRat">Frog and Rat</option>
                </select>
                <input type="submit" value="Leave this item">
            </form>
        </div>
    </div>

    <script type="text/javascript" src="/static/checkpoint1.js"></script>

{% endblock %}