{% extends "default_page.html" %}
{% block body %}
    <h1>Pizzaroni Toni’s Cheesy Crypt</h1>
    <p><a href = '/inventory/?equip='>Inventory</a></p>

    <h5>{{where}}</h5>
    <br>
    Entering the old, dark, building you find a desk with a weird engraving on it.
    <br>
    <img src="/static/symbol.png" alt="Symbol" width="100" height="100">
    <br>
    The person behind the desk reveals herself as Domino, an up-and-coming pizza artist and rapper.
    <br>
    Domino explains that she hates her dad, Pizzaroni Toni, and wants to see him defeated.
    <br>
    "While I can't help you directly, I won't stop you from progressing," she lets up.  "Start by
    <a href="/game/spider_room">going through that door</a>."
{% endblock %}