{% extends "default_page.html" %}
{% block body %}
    <h1>Pizzaroni Toni’s Cheesy Crypt</h1>
    <p><a href = '/inventory/?equip='>Inventory</a></p>

    Well, {{name}}, ready to pick a class?
    <br><br>
    str is <span style = 'color:red'>strength</span><br>
    hp is <span style = 'color:blue'>health</span><br>
    agi is <span style = 'color:green'>agility</span><br><br>

    Knight: 9 str, 7 hp, 5 agi<br>
    Brute: 7 str, 9 hp, 5 agi<br>
    Rogue: 7 str, 5 hp, 9 agi<br><br>


    <form action="/save/class/">
        <input type="submit" name="classChoice" value="Knight"><br class="minorList">
        <input type="submit" name="classChoice" value="Brute"><br class="minorList">
        <input type="submit" name="classChoice" value="Rogue"><br class="minorList">
        <input type="submit" name="classChoice" value="none"><br class="minorList">
    </form>

{% endblock %}