{% extends "default_page.html" %}
{% block body %}
    <h1>Pizzaroni Toni’s Cheesy Crypt</h1>
    <p><a href = '/inventory/?equip='>Inventory</a></p>

    <h5>{{where}}</h5>

    <br>
    You find yourself in the Hut of Pizza, a small run-down shack
    <br>
    The owner, Tom Boli, comes up to you: "Interested in an adventure?" he asks.
    <br>
    <button type="button" id="yesButton" class = "listedButtons">Yes</button><br>
    <button type="button" id="noButton" class = "listedButtons">No</button>

    <p id = "yesQuote" class = "hidden">"Yes"</p>
    <p id = "noQuote" class = "hidden">"No"</p>

    <div class="hidden" id="respondYes">
    "Alright.  We're going to bring down Pizzaroni Toni," Boli explains, "Toni has stolen my business and destroyed all
    other pizza business in town apart from the Hut of Pizza and his own.  I know he's hiding some demonic secret, so
    we'll have to be careful.  <a href = '/game/mansion_front'>Let's go.</a>"
    </div>
    <div class="hidden" id="respondNo">
    "Oh," says Boli, "well, then, <a href = "/">bye</a>..."
    </div>
    <script type="text/javascript" src="/static/start.js"></script>

{% endblock %}