{% extends "default_page.html" %}
{% block body %}
    <h1>Pizzaroni Toni’s Cheesy Crypt</h1>
    <p><a href = '/inventory/?equip='>Inventory</a></p>

    <h3>{{where}}</h3>
    <br>
    Through the door, you see yet another large room.  At the back of this room, however, you see Pizzaroni Toni sitting
    atop a throne of pizza boxes.  "You've only bested a few weak monsters so far," his voice booms, "but there's still one
    more to face before you could even contemplate fighting me!"
    <br>
    A giant Pizza Golem crashes through the wall.  <a href="/battle/golem/">Fight</a>

{% endblock %}